.App {
  min-height: 100vh;
  width: 100vw;
  background-color: #283849; /* Match the desired background color */
  display: flex;
  flex-direction: column;
  position: relative; /* Needed for absolute positioning of children if any */
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}
